$white: #ffffffff;
$rich-black-fogra: #00171fff;

$prussian-blue: #003459ff;
$celadon-blue: #007ea7ff;
$independence: #3a506bff;
$carolina-blue: #00a8e8ff;
$black-coral: #495867ff;

$blue-yonder: #577399ff;
$beau-blue: #bdd5eaff;
$ghost-white: #f7f7ffff;
$orange-red-crayola: #fe5f55ff;

$oxford-blue: #0b132bff;
$space-cadet: #1c2541ff;
$maximum-blue-green: #5bc0beff;
$turquoise-blue: #6fffe9ff;

$midnight-blue: #03045eff;
$french-blue: #0077b6ff;
$pacific-blue: #00b4d8ff;
$middle-blue: #90e0efff;
$light-cyan: #caf0f8ff;

$background: $rich-black-fogra;
$dark: $rich-black-fogra;
$light: $white;
