@import "variables";

.social-icons {
  .bx {
    color: $white;
    font-size: 1.7em;
    margin: 0 10px;
    border-radius: 10px;
    transition: 200ms ease;
    &:hover {
      color: $background;
      background-color: $white;
    }
  }
}
